extends layout 

block content 
    h1=title
    .nav-item.dropdown
              a.nav-link.dropdown-toggle(data-bs-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Profile
              .dropdown-menu
                a.dropdown-item(href='#') Update Profile Details
                a.dropdown-item(href='#') Applied Jobs

    .card.text-white.bg-dark.mb-3(style='max-width: 20rem;')
      .card-body
        h4.card-title Dark card title
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
