doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='/images/favicon.ico', href='/images/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
  body
    nav.navbar.navbar-expand-lg.bg-light(data-bs-theme='light')
      .container-fluid
        a.navbar-brand(href='/') T.I.M.
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarColor03', aria-controls='navbarColor03', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarColor03.collapse.navbar-collapse
          ul.navbar-nav.me-auto
            li.nav-item
              a.nav-link.active(href='/')
                | Home
                span.visually-hidden (current)

            li.nav-item
              a.nav-link(href='/About') About

            li.nav-item.dropdown.ms-auto
              a.nav-link.dropdown-toggle(data-bs-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Profile
              .dropdown-menu
                a.dropdown-item(href='#') Update Profile Details
                a.dropdown-item(href='#') Applied Jobs
          form.d-flex
            input.form-control.me-sm-2(type='search', placeholder='Search')
            button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
  
    .container.m-5
      block content

    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')