extends layout 

block content
    h1 Profile

    .row.d-flex
        .col-md-6
            form.m-3(action="")
                h5 User Credentials
                fieldset.row.g-3
                    .form-group   
                        .form-floating
                            input#userEmail.form-control(type='email', aria-describedby='emailHelp', placeholder='Example@email.com')
                            label(for='userEmail') Email address
                                
                        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.

                    .form-group
                        .form-floating
                            input#userPassword.form-control(type='password', placeholder='Password', autocomplete='off')
                            label(for='userPassword') Password


                    .form-group            
                        .form-floating
                            input#confirmPassword.form-control(type='password', placeholder='Confirm Password', autocomplete='off')
                            label(for='confirmPassword') Confirm Password

                    .form-group.d-flex 
                        button.btn.btn-primary.ms-auto(type='submit') Save Changes

        .col-md-6
            form.m-3(action="")
                h5 Personal Profile
                fieldset.row 
                    .col-md-6.form-group
                        .form-floating
                            input#firstName.form-control(type='text', placeholder='First Name', autocomplete='off')
                            label(for='userPassword') First Name
                    .col-md-6.form-group
                        .form-floating
                            input#lastName.form-control(type='text', placeholder='Last Name', autocomplete='off')
                            label(for='userPassword') Last Name
                fieldset.row 
                    .form-group
                        label(for='userPassword') Date Of Birth
                        input#firstName.form-control(type='text', placeholder='DD-MM-YYYY', autocomplete='off')

                fieldset.row 
                    .form-group
                        label.form-label.mt-4(for='education') Education
                        select#education.form-select
                            option(selected='', hidden='') --- Select One ---
                            option Leaving Certificate
                            option Undergraduate
                            option Postgraduate
                            option Others

                    .form-group
                        label.form-label.mt-4(for='userDescription') Personal Description
                        textarea#userDescription.form-control(rows='3', placeholder="Let your employers get to know you...")
                    .form-group
                        label.form-label.mt-4(for='userCV') CV
                        input#userCV.form-control(type='file')

                    .form-group
                        .form-check.form-switch
                            label.form-check-label(for='immediateAvailability') I am available immediately
                            input#immediateAvailability.form-check-input.form-control-lg(type='checkbox')

                    .form-group.d-flex 
                        button.btn.btn-primary.ms-auto(type='submit') Save Changes
