extends layout

block content
  .row.justify-content-center
    .col-md-4
      app-sign-up ...

      if error != "" && error != null
        .alert.alert-dismissible.alert-danger.mt-3
              button.btn-close(type='button', data-bs-dismiss='alert')
              p= error

  div(hidden) 
    app-job-list
    app-user-account
    app-sign-in
