extends layout

block content
  .row.justify-content-center
    .col-md-4.card
      .card-header
        strong  Sign in to continue
      .card-body
        form(action='/',method='POST')
            .center-block
              img.profile-img(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120', alt='')
            fieldset.row.gap-2
              .form-group
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  input.form-control(placeholder='Email', name='email', type='text', autofocus='')

              .form-group
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-lock
                  input.form-control(placeholder='Password', name='password', type='password', value='')

              .form-group.d-flex
                a.btn.btn-primary.mx-auto(href='/profile') Sign In

      .card-footer
        | Don&apos;t have an account?  
        a(href='/sign-up')  Sign Up Here 

