extends layout 

block content
    h1 Profile
    button.btn.btn-primary Edit Details
    form
        fieldset
            .form-group
            label.form-label.mt-4(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='example@email.com', disabled='')
            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.

            .form-group
            label.form-label.mt-4(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password', placeholder='Password', autocomplete='off')

            .form-group
            label.form-label.mt-4(for='exampleSelect1') Example select
            select#exampleSelect1.form-select
                option 1
                option 2
                option 3
                option 4
                option 5
            .form-group
            label.form-label.mt-4(for='exampleSelect1') Example disabled select
            select#exampleDisabledSelect1.form-select(disabled='')
                option 1
                option 2
                option 3
                option 4
                option 5
            .form-group
            label.form-label.mt-4(for='exampleSelect2') Example multiple select
            select#exampleSelect2.form-select(multiple='')
                option 1
                option 2
                option 3
                option 4
                option 5
            .form-group
            label.form-label.mt-4(for='exampleTextarea') Example textarea
            textarea#exampleTextarea.form-control(rows='3')
            .form-group
            label.form-label.mt-4(for='formFile') Default file input example
            input#formFile.form-control(type='file')
            fieldset.form-group
            legend.mt-4 Radio buttons
            .form-check
                input#optionsRadios1.form-check-input(type='radio', name='optionsRadios', value='option1', checked='')
                label.form-check-label(for='optionsRadios1')
                | Option one is this and that&mdash;be sure to include why it&apos;s great
            .form-check
                input#optionsRadios2.form-check-input(type='radio', name='optionsRadios', value='option2')
                label.form-check-label(for='optionsRadios2')
                | Option two can be something else and selecting it will deselect option one
            .form-check.disabled
                input#optionsRadios3.form-check-input(type='radio', name='optionsRadios', value='option3', disabled='')
                label.form-check-label(for='optionsRadios3')
                | Option three is disabled
            fieldset.form-group
            legend.mt-4 Checkboxes
            .form-check
                input#flexCheckDefault.form-check-input(type='checkbox', value='')
                label.form-check-label(for='flexCheckDefault')
                | Default checkbox
            .form-check
                input#flexCheckChecked.form-check-input(type='checkbox', value='', checked='')
                label.form-check-label(for='flexCheckChecked')
                | Checked checkbox
            fieldset.form-group
            legend.mt-4 Switches
            .form-check.form-switch
                input#flexSwitchCheckDefault.form-check-input(type='checkbox')
                label.form-check-label(for='flexSwitchCheckDefault') Default switch checkbox input
            .form-check.form-switch
                input#flexSwitchCheckChecked.form-check-input(type='checkbox', checked='')
                label.form-check-label(for='flexSwitchCheckChecked') Checked switch checkbox input
            fieldset.form-group
            legend.mt-4 Ranges
            label.form-label(for='customRange1') Example range
            input#customRange1.form-range(type='range')
            label.form-label(for='disabledRange') Disabled range
            input#disabledRange.form-range(type='range', disabled='')
            label.form-label(for='customRange3') Example range
            input#customRange3.form-range(type='range', min='0', max='5', step='0.5')
            button.btn.btn-primary(type='submit') Submit
